*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
}

h1{
    background: #B0E0E6;
    color: #44039e;
    font-family:'Times New Roman', Times, serif;
    font-size: 3em;
    font-style:oblique;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 70px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 100px;
    padding-bottom: 100px;
    padding: 30px;
    text-align: center;
    text-decoration: dashed;
    text-shadow:1px 1px 15px #0505f3;
    text-transform:capitalize; 
    word-spacing:5px ;
}
main p{
    color: #067482;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    font-style: oblique;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 5px;
}

footer p{
    color: #6a00fd;
    font-weight: 900;
}